$navbar-background-color: #212121;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: transparent;

$navbar-box-shadow-size: 10px;

$navbar-tab-active-border-bottom-color: "white";
$navbar-tab-active-border-bottom-style: 3px solid white;
$navbar-tab-hover-border-bottom-color: "white";
$navbar-tab-hover-border-bottom-style: 3px solid white;
@import '~bulma/bulma';
